{% extends 'AppBundle::base.html.twig' %}

{% block title parent() ~ ' - ' ~ 'home.meta-title'|trans %}

{% block header %}
    <section id="content">
        <div class="content__header">
            <h2></h2>
        </div>
    </section>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card__header">
            <h2>Card Title <small>Small description of the card</small></h2>
        </div>

        <div class="card__body">
            <p>Hello World!</p>
        </div>
    </div>
{% endblock %}
