<aside id="navigation">
    <div class="navigation__header">
        <i class="zmdi zmdi-long-arrow-left" data-mae-action="block-close"></i>
    </div>

    <div class="navigation__toggles">
        <a href="" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__messages">
            <i class="zmdi zmdi-email"></i>
        </a>
        <a href="" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__updates">
            <i class="zmdi zmdi-notifications"></i>
        </a>
        <a href="" data-mae-action="block-open" data-mae-target="#notifications" data-toggle="tab" data-target="#notifications__tasks">
            <i class="zmdi zmdi-playlist-plus"></i>
        </a>
    </div>

    <div class="navigation__menu c-overflow">
        <ul>
            <li class="navigation__active">
                <a href="{{ path('home') }}"><i class="zmdi zmdi-home"></i> Home</a>
            </li>
            <li>
                <a href="{{ path('clients_list') }}"><i class="zmdi zmdi-accounts"></i> Clients</a>
            </li>
            <li>
                <a href="{{ path('invoices_list') }}"><i class="zmdi zmdi-file-text"></i> Factures</a>
            </li>
        </ul>
    </div>
</aside>
