<aside id="notifications">
    <ul class="tab-nav tab-nav--justified tab-nav--icon">
        <li><a class="user-alert__messages" href="#notifications__messages" data-toggle="tab"><i
                        class="zmdi zmdi-email"></i></a></li>
        <li><a class="user-alert__notifications" href="#notifications__updates" data-toggle="tab"><i
                        class="zmdi zmdi-notifications"></i></a></li>
        <li><a class="user-alert__tasks" href="#notifications__tasks" data-toggle="tab"><i
                        class="zmdi zmdi-playlist-plus"></i></a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="notifications__messages">
            <div class="list-group"></div>

            <a href="" class="btn btn--float">
                <i class="zmdi zmdi-plus"></i>
            </a>
        </div>

        <div class="tab-pane" id="notifications__updates">
            <div class="list-group"></div>
        </div>

        <div class="tab-pane" id="notifications__tasks">
            <div class="list-group"></div>
        </div>
    </div>
</aside>
